body {
    padding: 0;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
    color: black;
    background-color: none;
    padding: 15px;
  }
  
  .game-intro {
      background-image: url("/images/background-yellow.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .game-intro p {
    font-size: 16px;
    font-family: "Verdana";
  }

  #game-title {
      font-size: 70px;
  }

  #excited-img {
      height: 15%;
      width: 15%;
  }

  #background-img {
    height: 90%;
    width: 95%;
  }

  #mixed-img {
    height: 35%;
    width: 35%;
}

#arrows-img {
    width: 180px;
}

body button {
    font-size: 30px;
    background-color: purple;
    color: palegoldenrod;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

#game-board {
    float: left;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #left-side-score {
    padding-top: 30px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #dizzy-img {
    height: 10%;
    width: 10%;
}

.game-over {
    background-image: url("/images/gothic-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  padding: 0% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}